.art-font8 {
  font-size: 8px;
}
.art-font9 {
  font-size: 9px;
}
.art-font10 {
  font-size: 10px;
}
.art-font11 {
  font-size: 11px;
}
.art-font12 {
  font-size: 12px;
}
.art-font13 {
  font-size: 13px;
}
.art-font14 {
  font-size: 14px;
}
.art-font15 {
  font-size: 15px;
}
.art-font16 {
  font-size: 16px;
}
.art-font17 {
  font-size: 17px;
}
.art-font18 {
  font-size: 18px;
}
.art-font19 {
  font-size: 19px;
}
.art-font20 {
  font-size: 20px;
}
.art-font21 {
  font-size: 21px;
}
.art-font22 {
  font-size: 22px;
}
